/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../assets/fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/roboto-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../assets/fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/roboto-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* common styles start */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  color: #4E4E4E;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

span.bold {
  font-weight: bold;
}

/* common styles end */

/* header styles start */

.display_webdev {
  display: none;
}

.header {
  background-color: #000000;
  width: 100%;
}

.header__wrapper {
  padding-top: 38px;
  padding-bottom: 38px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about {
  margin-right: 50px;
}

.faq {
  margin-left: 50px;
}

.logo {
  margin-left: 94px;
  margin-right: 94px;
}

.logo {
  justify-content: center;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 75%;
  text-decoration: none;
}

.header__link_img {
  opacity: 100%;
}

.header__link_about {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 100%;
  text-decoration: underline;
}

/* header styles end */

/* intro styles start */

.intro {
  background: url(../assets/img/bg-image.jpg) no-repeat center;
  background-size: cover;
  padding-top: 231px;
}

.intro__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 36px;
  justify-content: center;
}

.intro__subtitle {
  max-width: 504px;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 36px;
}

.intro__button {
  display: flex;
  justify-content: center;
}

.intro__submit_button {
  padding: 15px 47px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #00AFDB;
  border: 0;
  margin-bottom: 183px;
}

.intro__submit_button:hover, .intro__submit_button:focus, .intro__submit_button:active {
  background: #0b86a5;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 97px;
}

.mail {
  margin-left: 40px;
}
.mail, .ff, .insta, .teleg {
  width: 170px;
  height: 20px;
  opacity: 75%;
}

.contacts__link:hover, .contacts__link:focus, .contacts__link:active {
  opacity: 100%;
}

.contacts__item {
  margin-right: 30px;
}

/* intro styles end */

/* Rappresent styles start */

.rappresent {
  background: url(../assets/img/bg-2.jpg) no-repeat center;
  background-size: cover;
  padding-top: 8px;
}

.rappresent_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1600px;
  height: 842px;
}

.rappresent__item {
  margin-top: 295px;
  margin-bottom: 314px;
  margin-left: 268px;
  align-items: center;
  height: 233px;
  width: 407px;
}

.rappresent_title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.rappresent__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 30px;
}

.rappresent__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.rappresent__submit_button {
  padding: 15px 47px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #00AFDB;
  border: 0;
  margin-bottom: 183px;
}

.rappresent__submit_button:hover, .rappresent__submit_button:focus, .rappresent__submit_button:active {
  background: #0b86a5;
}

.repp__image {
  margin: 120px 270px 140px 248px;
}


/* rappresent styles end */

/* Our community styles start */

.our_community {
  background: url(../assets/img/our_сommunity.jpg) no-repeat center;
  background-size: cover;
  padding-top: 8px;
}

.our_community_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1600px;
  height: 504px;
}
.our_community__item_text {
  margin-top: 155px;
  margin-bottom: 174px;
  margin-left: 269px;
  margin-right: 120px;
}
.our_community__item {
  align-items: center;
}

.our_community__img {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 127px;
}

.our_community__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
  margin-left: 69px;
  margin-bottom: 10px;
}

.our_community__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #4E4E4E;
  width: 298px;
  height: 80px;
}

.slider_nav {
  margin-top: 80px;
  margin-left: 650px;
  width: 79px;
  height: 20px;
  left: 1252px;
  top: 80px;
}

.our_community__list {
  display: flex;
  padding-top: 20px;
  padding-bottom: 140px;
}

.our_community_1 {
  width: 407px;
  height: 244px;
  margin-left: 139px;
  margin-right: 30px;
}

.our_community_2 {
  width: 407px;
  height: 244px;
  margin-right: 30px;
}

.our_community__slider{
  overflow: hidden;
}

.arr_left, .arr_right {
  width: 8px;
  height: 8px;
  color: #373737;
  text-decoration: none;
}

.arr_left:hover, .arr_left:focus, .arr_left:active, .arr_right:hover, .arr_right:focus, .arr_right:active {
  text-decoration: underline;
  color: #000000;
}

/* Our community styles end */

/* implement styles start */

.implement {
  background: url(../assets/img/bg-2.jpg) no-repeat center;
  background-size: cover;
}

.implement_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1600px;
  height: 744px;
}

.implement__item {
  margin-top: 319px;
  margin-bottom: 339px;
  margin-right: 378px;
  align-items: center;
  height: 184px;
  width: 407px;
}

.implement_title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.implement__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 30px;
}

.implement__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.implement__submit_button {
  padding: 15px 47px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #00AFDB;
  border: 0;
  margin-bottom: 183px;
}

.implement__submit_button:hover, .implement__submit_button:focus, .implement__submit_button:active {
  background: #0b86a5;
}

.implement__img {
  margin: 120px 139px 140px 269px;
}

/* implement styles end */

/* subscribe styles start */

.subscribe {
  background: url(../assets/img/subscribe.jpg) no-repeat center;
  background-size: cover;
}

.subscribe__wrapper {
  width: 1600px;
  height: 598px;
}

.subscribe__title {
  padding-top: 217px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0px 560px 30px 641px;
}

.subscribe__email {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 90px;
}

.email_form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#email {
  width: 340px;
  height: 46px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border-radius: 0px;
  border: 0;
}

.email::placeholder { padding: 14px 277px 12px 24px; }
.email::-moz-placeholder { margin: 14px 277px 12px 24px; }
.email::-webkit-input-placeholder { margin: 14px 277px 12px 24px; }
.email:-ms-input-placeholder { margin: 14px 277px 12px 24px; }
.email::-ms-input-placeholder { margin: 14px 277px 12px 24px; }

.button__send_email {
  width: 66px;
  height: 46px;
  left: 0px;
  top: 0px;
  background: #00AFDB;
  border-radius: 0px;
  border: 0;
  margin-right: 10px;
  background: #00AFDB url(../assets/img/email-check.svg) no-repeat center;
  background-size: 19px 16.52px;
}

.button__send_email:hover, .button__send_email:focus, .button__send_email:active {
  background: #0b86a5 url(../assets/img/email-check.svg) no-repeat center;
}

input[type="email"] {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: flex-end;
  color: #373737;
}

/* subscribe styles end */

/* download styles start */

.download {
  background: url(../assets/img/bg-2.jpg) no-repeat center;
  background-size: cover;
}

.download__wrapper {
  text-align: center;
}

.download__title {
  padding-top: 120px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  margin: 0px 670px 20px 668px;
}

.download__subtitle {
  width: 483px;
  height: 40px;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #4E4E4E;
  margin: 0px 558px 30px 598.5px;
}

.apple__form, .play_market__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.download__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0px 597px 180px 597px
}

.button__apple {
  position: relative;
  width: 188px;
  height: 50px;
  left: 0px;
  top: 0px;
  background: #00AFDB;
  border-radius: 0px;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  padding: 18px 78px 16px 19px;
  margin-right: 30px;
}

.button__apple::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 50px;
  right: 0px;
  top: 0px;
  border-radius: 0px;
  border: 0;
  background-color: #009CC2;
  background-image: url(../assets/img/icon-apple.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 20px;

 }

 .button__apple:hover, .button__apple:focus, .button__apple:active{
  background: #0b86a5;
  background-image: #0b86a5;
}

.button__android {
  position: relative;
  width: 188px;
  height: 50px;
  left: 0px;
  top: 0px;
  background: #00AFDB;
  border-radius: 0px;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  padding: 18px 75px 16px 17px;
}

.button__android::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 50px;
  right: 0px;
  top: 0px;
  border-radius: 0px;
  border: 0;
  background-color: #009CC2;
  background-image: url(../assets/img/icon-android.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 20px;
 }

 .button__android:hover, .button__android:focus, .button__android:active{
  background: #0b86a5;
  background-image: #0b86a5;
}

/* download styles end */

/* footer styles start */

.footer {
  background-color: #000000;
  width: 100%;
}

.footer__wrapper {
  width: 1600px;
  height: 184px;
  padding-top: 65px;
  padding-bottom: 91px;
}

.footer_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.credits {
  position: relative;
  margin-right: 0px;
  margin-right: 40px;
}

.credits::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 8px;
  background-color: #4E4E4E;
  background-position: bottom;
  top: 5px;
  margin-left: 20px;
  border-right: 0;
}

.privacy {
  position: relative;
  margin-right: 40px;
}

.privacy::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 8px;
  background-color: #4E4E4E;
  background-position: bottom;
  top: 5px;
  margin-left: 20px;
  border-right: 0;
}

.footer__link_nav {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.98;
  text-decoration: none;
}

.footer__link_rss {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #818181;
  text-decoration: none;
}

.footer_logo {
  margin-left: 15px;
}

/* .footer_rss {
  margin-right: 15px;
} */

.header__link_img {
  opacity: 100%;
}

.footer__link_nav:hover, .footer__link_nav:focus, .footer__link_nav:active, .footer__link_rss:hover, .footer__link_rss:focus, .footer__link_rss:active {
  opacity: 100%;
  text-decoration: underline;
}

/* footer styles end */